Config (
    // windows: [
    //     Window (
    //         name: "Internet Explorer",
    //         icon: "https://win98icons.alexmeub.com/icons/png/msie1-2.png",
    //         add_to_desktop: Some((0, 0)),
    //         content: "Internet Exploruvu!!!",
    //     ),
    //     Window (
    //         name: "My Computer",
    //         icon: "https://win98icons.alexmeub.com/icons/png/computer_explorer-5.png",
    //         add_to_desktop: Some((1, 3)),
    //         content: "My <i>uwoepic</i> COMPUTER!!!",
    //     ),
    // ],
    apps: [
        App (
            name: "Internet Explorer",
            icon: "https://win98icons.alexmeub.com/icons/png/msie1-2.png",
            // add_to_desktop: Some((0, 0)),
            content: "Internet Exploruvu!!!",
        ),
        App (
            name: "Another Application",
            icon: "https://win98icons.alexmeub.com/icons/png/computer_explorer-5.png",
            add_to_desktop: Some((4, 2)),
            content: "THIS <i>uwoepic</i> APP!!!",
        ),
    ],
    fs: (
        root: Folder ((
            children: {
                "desktop": Folder ((
                    children: {
                        "Internet ExplorerÖ": File ((
                            kind: App,
                            link: "Internet Explorer",
                            offset: Some((3, 3)),
                        )),
                        "My Pictures": Folder ((
                            children: {},
                            offset: Some((0, 1)),
                        )),
                        "My Computer": File ((
                            kind: Shortcut,
                            link: "/",
                            offset: Some((0, 0)),
                        )),
                    },
                )),
            },
        )),
    ),
)