*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

.outer-centerer {
	width: 100%;
	display: flex;
	justify-content: center;
}

.crt-outerest {
	position: relative;
}

.crt-image {
	height: 800px;
	width: 1000px;
	display: block;
}

.main {
	top: 89px;
	left: 104px;
	width: 806px;
	height: 590px;
	position: absolute;
	overflow: hidden;
	user-select: none;
	font: medium sans-serif;
	--window-background: #C0C0C0;
}

.border-style-light-1 {
	border: 2px;
	--border-c1_b: rgb(238, 238, 238);
	--border-c2_b: rgb(170, 170, 170);
	border-color: var(--border-c1_b) var(--border-c1_b) var(--border-c1_b) var(--border-c1_b);
	border-style: groove groove groove groove;
}

.border-style-light-2 {
	border: 1px;
	--border-c1_bsl2: rgb(238, 238, 238);
	--border-c2_bsl2: rgb(170, 170, 170);
	border-color: var(--border-c1_bsl2) var(--border-c1_bsl2) var(--border-c1_bsl2) var(--border-c1_bsl2);
	border-style: outset;
}

.border-style-dark-1 {
	border: 2px;
	--border-c1_c: rgb(97, 97, 97);
	--border-c2_c: rgb(251, 251, 251);
	border-color: var(--border-c1_c) var(--border-c2_c) var(--border-c2_c) var(--border-c1_c);
	border-style: ridge groove groove ridge;
}

.border-style-dark-2 {
	border: 2px;
	--border-c1_bb: rgb(238, 238, 238);
	--border-c2_bb: rgb(97, 97, 97);
	border-color: var(--border-c1_bb) var(--border-c2_bb) var(--border-c2_bb) var(--border-c1_bb);
	border-style: ridge groove groove ridge;
}

.border-style-asymmetric-1 {
	border-width: 1px 2px 2px 1px;
	--border-c1_npfb: rgb(249, 249, 249);
	--border-c2_npfb: rgb(93, 93, 93);
	border-color: var(--border-c1_npfb) var(--border-c2_npfb) var(--border-c2_npfb) var(--border-c1_npfb);
	border-style: solid ridge ridge solid;
}

.border-style-dark-3 {
	border: 2px;
	--border-c1_bsd3: rgb(251, 251, 251);
	--border-c2_bsd3: rgb(97, 97, 97);
	border-color: var(--border-c1_bsd3) var(--border-c2_bsd3) var(--border-c2_bsd3) var(--border-c1_bsd3);
	border-style: groove ridge ridge groove;
}

details summary::-webkit-details-marker,
details summary::marker {
	display: none
}

details summary::-webkit-details-marker,
details summary::marker {
	content: ""
}

.onload {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 2147483647;
	transition: z-index 10s linear 2147483640s;
	transition-behavior: allow-discrete;
	background-color: #ac2b2b22;
}

.onload:hover {
	transition: z-index 0s linear;
	z-index: -1000000;
}