.history {
	/* counter-reset: foo; */
	/* TODO: remove this! */
	position: absolute;
	/* top: 0;
	left: 0;
	width: 100%;
	height: 100%; */
	z-index: 2147483645;
	/* --max-items: 1000; */
}

.history-items {
	transition: top 10s linear 2147483640s, left 10s linear 2147483640s;
	top: 200000px;
	left: 0px;
	position: absolute;
}

.history-item {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	/* background-color: #ff000066; */
	/* counter-increment: foo; */
	display: flex;
	justify-content: center;
	align-items: center;
	/* transition: left 10s linear 2147483640s; */
	/* pointer-events: none; */
	z-index: 0;
	transition: left 10s linear 2147483640s, top 10s linear 2147483640s, z-index 214748s linear;
	transition-behavior: allow-discrete;
}
.history-none-back {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 200vh;
	z-index: 10;
}
.history-none-forward {
	position: absolute;
	top: 200vh;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 10;
	transition: z-index 214748s linear;
	transition-behavior: allow-discrete;
}

.history-item-reg {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #ff00ae55;
}
.history-item-move {
	position: absolute;
	bottom: 100%;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #00ff1a55;
}
.history-item-check-back {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #ffea0055;
}
.history-item-check-forward {
	position: absolute;
	top: 200%;
	right: 100%;
	width: 100%;
	height: 100%;
	background-color: #00bfff55;
}

/* .history-item::after {
	content: counter(foo);
	font-size: 60px;
	background-color: blue;
} */

.main:has(.history-back:hover:active) .history-item {
	transition: left 10s linear 2147483640s, top 0s linear, z-index 214748s linear;
	top: 100vh;
}

.main:has(.history-trigger:hover:active) .history-none-forward {
	transition: 0s;
	z-index: 2147483642;
}
/* we add :is(...) inside the :has(...) to avoid ao3 messing us up by prepending '#workskin ' to whatever is after the comma. this probably works but I have not tested it yet... */
.main:has(:is(.history-trigger:hover:active, .history-back:hover:active)) .history-items {
	transition: 0s;
	top: 0px;
}

.history:has(:is(.history-item-reg:hover, .history-none-back:hover)) .history-items {
	transition: 0s;
	top: -100vh;
	left: 0.01px;
}
.history:has(:is(.history-item-check-back:hover, .history-none-back:hover)) .history-items {
	transition: 0s;
	top: -200vh;
	left: 0.01px;
}
.history:has(:is(.history-item-check-forward:hover, .history-none-forward:hover)) .history-items {
	transition: 0s;
	top: 200000.1px;
	left: 0.01px;
}

.history-item.history-item.history-item.history-item:has(.history-item-move:hover) {
	transition: left 0s linear, top 0s linear, z-index 0s linear;
	left: 100vw;
	top: 0;
	z-index: 2147483641;
}
.history-item.history-item.history-item.history-item:has(.history-item-reg:hover) {
	transition: left 0s linear, top 0s linear, z-index 0s linear;
	top: 0.01px;
	left: 0.01px;
	z-index: 2147483641;
}
.history:has(.history-item-move:hover) .history-item {
	transition: left 10s linear 2147483640s, top 0s linear, z-index 214748s linear;
	top: 0;
}

.main:has(.history-forward:hover:active) .history-items {
	transition: 0s;
	top: 0px;
	left: -100.1vw;
}

/* .cur {
	transition: 10s linear 2147483640s;
	left: -100000px;
	position: absolute;
}
.cur.cur-default {
	transition: 10s linear 2147483640s;
	left: 0.01px;
	position: absolute;
}
.history:has(.history-none-back:hover) .cur-default {
	transition: 0s;
	left: 0px;
}
.history:has(.history-none-back:hover) .cur:not(.cur-default) {
	transition: 0s;
	left: -100000.01px;
} */