.taskbar.taskbar {
	z-index: 2;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 28px;
	background-color: var(--window-background);
	border-style: groove none none;
	padding: 2px 8px;
	display: flex;
}

.tb-start {
	position: relative;
	width: 54px;
}

.tb-start-button {
	position: absolute;
	width: 54px;
	height: 22px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 12px;
	font-weight: bold;
}

.tb-start-button.tb-start-button-active {
	position: relative;
	transition: top 10s linear 2147483640s;
	top: 200vh;
	z-index: 1000;
	border-width: 2px 1px 1px 2px;
	--border-c1_tbsba: rgb(93, 93, 93);
	--border-c2_tbsba: rgb(249, 249, 249);
	border-color: var(--border-c1_tbsba) var(--border-c2_tbsba) var(--border-c2_tbsba) var(--border-c1_tbsba);
	border-style: groove solid solid groove;
	background-color: var(--window-background);
}
.main:active .tb-start-button-active {
	top: 201vh;
	transition: 0s;
}
.tb-start-button.tb-start-button-unactive:active + .tb-start-button.tb-start-button-active {
	top: 0;
	transition: 0s;
}

.tb-start-button-active-inner {
	border: 1px dotted black;
	padding: 1px;
}

.tb-sb-p {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
}

.tb-sb-p::before {
	margin-right: 3px;
	content: "";
	width: 16px;
	height: 14px;
	background-image: url("@icon:taskbar-windows-icon");
	background-size: cover;
	display: block;
}

.tb-start-menu {
	width: 177px;
	height: 342px;
	display: flex;
	flex-wrap: nowrap;
	padding: 1px;
	position: absolute;
	bottom: 21px;
	left: -2px;
	background-color: var(--window-background);
}

.tb-sm-banner {
	width: 21px;
	height: 336px;
	background-color: #0000A1;
	display: flex;
	flex-direction: column;
}
.tb-sm-banner p {
	margin-top: auto;
}
.tb-sm-banner img {
	width: 21px;
	height: 105px;
}
.tb-sm-content {
	/* background-color: red; */
	flex-grow: 1;
	font-weight: 100;
}

.tb-item {
	display: flex;
	flex-wrap: nowrap;
}

.tb-item:not(:first-child) {
	margin-left: 13px;
}
.tb-item:not(:first-child)::before {
	content: "";
	display: block;
	position: absolute;
	height: 22px;
	border-left: 2px groove rgb(238, 238, 238);
	transform: translateX(-10px);
}
.tb-item:not(:first-child)::after {
	content: "";
	display: block;
	position: absolute;
	height: 18px;
	width: 3px;
	margin: 2px 0;
	border: 1px solid;
	border-color: rgb(238, 238, 238) #87888E #87888E rgb(238, 238, 238);
	transform: translateX(-6px);
}

.tb-ql-item {
	width: 23px;
	height: 22px;
	padding: 2px;
}
.tb-ql-item:not(:hover) {
	border: 1px solid transparent;
}
.tb-ql-item img {
	width: 16px;
	height: 16px;
}

/* .tb-ql-item:not(.tb-ql-item-close) {
	background-color: aqua;
} */

.tb-ql-item.tb-ql-item-close {
	position: absolute;
	z-index: -1;
	transition: z-index 10s linear 2147483640s;
	transition-behavior: allow-discrete;
	/* background-color: red; */
	top: 0;
	left: 0;
}

.tb-ql-item-container {
	position: relative;
}

.tb-right.tb-right.tb-right {
	margin-left: auto;
	padding-left: 4px;
}

.tb-right-button.tb-right-button.tb-right-button {
	width: 98px;
	height: 22px;
	border-style: inset;
	font-size: 12px;
	font-weight: 100;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: nowrap;
	padding: 0 24px 0 2px;
}

.tb-right-button img {
	width: 33px;
	height: 16px;
}

.tb-right.tb-right.tb-right::after {
	display: none;
}
.tb-right.tb-right.tb-right::before {
	transform: translateX(-4px);
}
.date-time-opener {
	display: flex;
}

.tb-apps {
	flex: 1;
	min-width: 0;
}

.tb-app {
	transition: max-width 10s linear 2147483640s;
	/* max-width: 122px; */
	max-width: 0.01px;
	transition-behavior: allow-discrete;
	overflow: clip;
	/* flex-grow: 1; */
	flex: 1;
	min-width: 0;
	position: relative;
}
.tb-app-inner {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	padding: 1px;
	padding-left: 2px;
	font-size: 12px;
	font-weight: 100;
	margin-right: 2px;
	background-color: var(--window-background);
	height: 22px;
}
.tb-app-inner-active.tb-app-inner-active {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -5;
	transition-behavior: allow-discrete;
	transition: z-index 10s linear 2147483640s;
	border-width: 2px;
	--border-c1_tbai: rgb(93, 93, 93);
	--border-c2_tbai: rgb(249, 249, 249);
	border-color: var(--border-c1_tbai) var(--border-c2_tbai) var(--border-c2_tbai) var(--border-c1_tbai);
	border-style: groove;
	background-color: white;
	background-image:
		linear-gradient(45deg, #dedede 25%, transparent 25%),
		linear-gradient(-45deg, #dedede 25%, transparent 25%),
		linear-gradient(45deg, transparent 75%, #dedede 75%),
		linear-gradient(-45deg, transparent 75%, #dedede 75%);
	background-size: 2px 2px;
	background-position: 0 0, 0 1px, 1px -1px, -1px 0px;
}
.tb-app-inner p {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.main:has(.onload:hover) .tb-app {
	transition: 0s;
	max-width: 0px;
}

.tb-app img {
	margin-right: 2px;
	width: 16px;
	height: 16px;
}