.toolbar-anchor {
	position: relative;
}

.toolbar {
	display: flex;
	border-top: none !important;
	overflow: clip;
	flex-wrap: wrap;
	height: 42px;
	padding-left: 2px;
	padding-right: 12px;
}

.toolbar-overflow {
	width: 100%;
	height: 126px;
	/* background-color: #ff000033; */
	position: relative;
	bottom: 500%;
}

.tbo-arrow, .tbo-enabled-arrow {
	width: 12px;
	height: 40px;
	position: absolute;
	right: -12px;
	bottom: -34px;
	border: 1px solid transparent;
	/* background-color: red; */
}
.tbo-arrow:hover {
	border: 1px outset rgb(238, 238, 238);
}
.tbo-arrow img, .tbo-enabled-arrow img {
	width: 8px;
	height: 5px;
	position: absolute;
	top: 5px;
	left: 1px;
}
.tbo-arrow:nth-child(2) {
	bottom: 6px;
}
.toolbar-anchor:has(.tbo-arrow:active) .tbo-menu {
	z-index: 100;
	transition: 0s;
}
.window:active .tbo-menu {
	z-index: -2;
	transition: 0s;
}

.tbo-enabled-arrow.tbo-enabled-arrow {
	position: absolute;
	right: 0px;
	top: -44px;
	border: 1px inset rgb(238, 238, 238);
	/* background-color: red; */
}

.tbo-menu {
	position: absolute;
	top: 42px;
	right: 0px;
	/* width: 100px; */
	/* height: 100px; */
	background-color: var(--window-background);
	z-index: 100;
	padding: 1px;
	transition: z-index 10s linear 2147483640s;
	z-index: -1;
}

.tbo-menu .toolbar-item {
	width: 105px;
	height: 26px;
	display: flex;
	flex-direction: row;
	justify-content: left;
	padding: 2px;
	border: 1px solid transparent;
}
.tbo-menu img {
	margin-right: 7px;
}

.toolbar-sep {
	display: block;
	margin: 2px 2px;
	border-left: 2px groove rgb(238, 238, 238);
}

.toolbar-item {
	width: 50px;
	height: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 11px;
}
.toolbar-item:not(:hover), .toolbar-disabled {
	filter: grayscale(100%);
}
.toolbar-item:hover:not(.toolbar-disabled) {
	border: 1px outset rgb(238, 238, 238);
}

.toolbar-item img {
	width: 20px;
	height: 20px;
}

.toolbar-item-outer {
	position: relative;
}
.toolbar-single-click.toolbar-single-click {
	display: none;
	position: absolute;
	z-index: 5;
	background: none;
	top: 0;
	left: 0;
}
.toolbar-item:active+.toolbar-single-click {
	display: block !important;
}