/*
WINDOWS!!!
*/

/* .window:has(.thing1:target) {
	transform: translate(100px, 50px);
} */

/* .window span {
	border: 1px solid black;
} */

.window {
	--anim-speed-to: 3.0s;
	--anim-speed-away: 3.0s;
	--anim-max: 4000px;
	--anim-min: -4000px;
}

/* Q UP LEFT */
.window:has(.mover:active .mover-hand-Q:hover) {
	transition: left var(--anim-speed-to) linear, top var(--anim-speed-to) linear;
	top: var(--anim-min);
	left: var(--anim-min);
}

/* W UP */
.window:has(.mover:active .mover-hand-W:hover) {
	transition: top var(--anim-speed-to) linear, left 10s linear 2147483640s;
	top: var(--anim-min);
}

/* E UP RIGHT */
.window:has(.mover:active .mover-hand-E:hover) {
	transition: left var(--anim-speed-away) linear, top var(--anim-speed-to) linear;
	top: var(--anim-min);
	left: var(--anim-max);
}

/* A LEFT */
.window:has(.mover:active .mover-hand-A:hover) {
	transition: left var(--anim-speed-to) linear, top 10s linear 2147483640s;
	left: var(--anim-min);
}

/* D RIGHT */
.window:has(.mover:active .mover-hand-D:hover) {
	transition: left var(--anim-speed-away) linear, top 10s linear 2147483640s;
	left: var(--anim-max);
}

/* Z DOWN LEFT */
.window:has(.mover:active .mover-hand-Z:hover) {
	transition: top var(--anim-speed-away) linear, left var(--anim-speed-to) linear;
	top: var(--anim-max);
	left: var(--anim-min);
}

/* X DOWN */
.window:has(.mover:active .mover-hand-X:hover) {
	transition: top var(--anim-speed-away) linear, left 10s linear 2147483640s;
	top: var(--anim-max);
}

/* C DOWN RIGHT */
.window:has(.mover:active .mover-hand-C:hover) {
	transition: top var(--anim-speed-away) linear, left var(--anim-speed-away) linear;
	top: var(--anim-max);
	left: var(--anim-max);
}

.mover-hand {
	margin: 0;
	padding: 0;
	position: absolute;
	width: 1000px;
	height: 1000px;
	background: teal;
	display: none;
}

.mover-hand-S {
	z-index: -100;
	background: red;
}

.mover-hand {
	background: plum;
	z-index: 9999;
	opacity: 0;
}

.mover:active .mover-hand {
	display: unset;
}

/* .mover-hand:not(.mover-hand-C) {
	opacity: 0;
} */

/*FIXME: REMOVE!!!*/
/* .window {
	left: 200px !important;
	top:  200px !important;
} */

/* Q UP LEFT */
/* .mover-hand-Q, .mover-hand-E, .mover-hand-Z, .mover-hand-C {
	width: 100px;
	height: 100px;
} */

.mover-hand-W,
.mover-hand-X {
	width: var(--width);
}

.mover-hand-A,
.mover-hand-D {
	height: var(--width);
}

.mover-hand-Q,
.mover-hand-W,
.mover-hand-E {
	/* bottom: 66%; */
	bottom: 100%;
}

.mover-hand-A,
.mover-hand-D {
	/* bottom: 33%; */
	top: 0;
}

.mover-hand-Z,
.mover-hand-X,
.mover-hand-C {
	/* top: 66%; */
	top: 100%;
}

.mover-hand-Q,
.mover-hand-A,
.mover-hand-Z {
	/* right: 66%; */
	right: 100%;
}

.mover-hand-W,
.mover-hand-X {
	/* right: 33%; */
	left: 0;
}

.mover-hand-E,
.mover-hand-D,
.mover-hand-C {
	/* left: 66%; */
	left: 100%;
}

.mover {
	--width: 16px;
	/* --width3: calc(var(--width) / 3); */

	width: var(--width);
	height: var(--width);
	/* border: 1px solid blue; */
	position: relative;
	margin: 1px;
	/* display: flex;
	flex-wrap: wrap;
	align-content: flex-start; */
	/* border-right: 1px solid black; */
}

.windows-container {
	z-index: 1;
	position: absolute;
}

.window {
	transition: left 10s linear 2147483640s, top 10s linear 2147483640s, z-index 10s linear 2147483640s;
	/* transition: left 10s linear 2147483640s, top 10s linear 2147483640s; */
	transition-behavior: allow-discrete;
	display: flex;
	flex-direction: column;
	/* border: 5px ridge whitesmoke; */
	width: 500px;
	height: 400px;
	position: absolute;
	left: -2000px;
	/* left: 0px; */
	top: 0px;
	--window-background: #C0C0C0;
	padding: 2px;
	background-color: 1px;
	background-color: var(--window-background);
	border: 2px;
	--border-c1_w: rgb(251, 251, 251);
	--border-c2_w: rgb(97, 97, 97);
	border-color: var(--border-c1_w) var(--border-c2_w) var(--border-c2_w) var(--border-c1_w);
	border-style: groove ridge ridge groove;
	/* overflow: hidden; */
	/* z-index: 0; */

}

.window:active {
	z-index: 2147483640;
	transition: left 10s linear 2147483640s, top 10s linear 2147483640s, z-index 0s linear;
}
.main:has(.window:active) .window:not(:active) {
	z-index: 1;
	transition: left 10s linear 2147483640s, top 10s linear 2147483640s, z-index 214748s linear;
}
.window:active .window-titlebar {
	background: linear-gradient(to right, #00007B, #3B79B8);
	transition: background 0s linear;
}
.main:has(.window:active) .window:not(:active) .window-titlebar {
	background: linear-gradient(to right, rgb(126, 126, 126), rgb(187, 187, 187));
	transition: background 0s linear;
}

.window:has(.window-exiter:active) {
	top: 0.002px;
	left: -2000.002px;
	transition: top 0s linear 0s, left 0s linear 0s;
	/* transform: rotateZ(90deg); */
}

/* .window-exiter > p {
	text-align: center;
} */

.window-content {
	/* background-color: #C0C0C0; */
	width: 100%;
	height: auto;
	flex-grow: 1;
}

.content-inner {
	padding: 3px;
}

.window-titlebar {
	transition: background 10s linear 2147483640s;
	transition-behavior: allow-discrete;
	border-bottom: 1px solid gray;
	background: linear-gradient(to right, rgb(126, 126, 126), rgb(187, 187, 187));
	/* background: linear-gradient(to right, #00007B, #3B79B9); */
	display: flex;
	column-gap: 3px;
	align-items: center;
	height: 18px;
}

.window-name {
	display: flex;
	align-items: center;
	color: white;
	/* font-family: 'Courier New', Courier, monospace; */
	font-weight: 400;
	font-size: 13px;
	padding-bottom: 0px;
}

.window-exiter {
	margin-left: auto;
	margin-right: 3px;
	width: 16px;
	height: 14px;
	/* border: 1px outset; */
	border-width: 1px 2px 2px 1px;
	--border-c1: rgb(249, 249, 249);
	--border-c2: rgb(93, 93, 93);
	border-color: var(--border-c1) var(--border-c2) var(--border-c2) var(--border-c1);
	border-style: solid ridge ridge solid;
	display: flex;
	align-items: center;
	justify-content: center;
	color: rgb(47, 47, 47);
	background-color: var(--window-background);
	margin-top: 1px;
}

.window-exiter::after {
	content: "";
	width: 9px;
	height: 9px;
	display: block;
	background-image: url("../res/exit-9.png");
	background-size: cover;
}

.window-exiter p {
	font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-stretch: ultra-expanded;
	font-size: 10px;
}

.window-exiter:active {
	border-color: var(--border-c2) var(--border-c1) var(--border-c1) var(--border-c2);
	border-style: inset solid solid inset;
}

.window-content {
	font-size: 12px;
	display: flex;
	/* flex-wrap: wrap; */
	flex-direction: column;
	background-color: var(--window-background);
	font-weight: 100;
}

.border-style-light-1 {
	border: 2px;
	--border-c1_b: rgb(238, 238, 238);
	--border-c2_b: rgb(170, 170, 170);
	border-color: var(--border-c1_b) var(--border-c1_b) var(--border-c1_b) var(--border-c1_b);
	border-style: groove groove groove groove;
}

.menubar {
	padding: 1px;
	/* padding-left: 10px; */
	display: flex;
	/* column-gap: 10px; */
	height: 24px;
	align-items: center;
	/* position: relative; */
}

.menubar.menubar-short {
	height: 20px;
}

.menubar-item {
	padding: 1px 7px;
}

.menubar-item {
	border: 1px inset transparent;
	position: relative;
	/* overflow: hidden; */
}

.menubar-item:hover {
	border: 1px inset rgb(238, 238, 238);
}

.menubar-item-state:hover~.mb-submenu,
.mb-submenu:hover {
	display: block;
}

.mb-submenu:has(.mb-submenu-item:active) {
	display: none;
}

.menubar-item-state {
	content: "";
	position: absolute;
	width: 100%;
	height: 110%;
	/* background-color: #00007B; */
	left: 0px;
	/* top: 0px; */
	top: -2000px;
	transition: top 10s linear 2147483640s;
	/* transition-behavior: allow-discrete; */
}

.menubar:has(.menubar-item:active) .menubar-item-state {
	top: 0px;
	transition: top 0s linear;
}

.menubar-item-state:hover {
	background-color: green !important;
}

/* .menubar-item-state:hover {
	background-color: green !important;
} */

/* i call this the bullshit selector. no i shall not explain it. my life is a mistake. */
.main:is(:not(:has(.menubar-item-state:active, .menubar-item:active)), :has(.mb-submenu-item:active)):active .menubar-item-state {
	/* .window *:not(.menubar-item):active { */
	top: -2000.001px;
	transition: top 0s linear;
	/* background-color: red; */
}

.mb-submenu {
	display: none;
	position: absolute;
	z-index: 3;
	background-color: var(--window-background);
	width: 120px;
	transform: translate(-8px, 2px);
	padding: 1px;
}

.mb-submenu-item {
	padding: 2px 0;
	padding-left: 5px;
	display: flex;
	align-items: center;
}

.mb-submenu-separator {
	width: 100%;
	margin: 3px 0;
	padding: 0 1px;
}

.mb-submenu-separator::before {
	content: "";
	display: block;
	width: 100%;
	border-bottom: 2px;
	--border-c1_sep: rgb(238, 238, 238);
	border-bottom-color: var(--border-c1_sep);
	border-bottom-style: groove;
}

.mb-submenu-item:hover {
	background-color: #0000A1;
	color: white;
}

.mb-submenu-item:hover::before {
	filter: invert();
}

.mb-submenu-item::before {
	content: "";
	width: 9px;
	height: 9px;
	display: block;
	background-image: url("../res/check-9.png");
	background-size: cover;
	margin-right: 8px;
}

.menubar-item::first-letter {
	text-decoration: underline;
}

.border-style-dark-1 {
	border: 2px;
	--border-c1_c: rgb(97, 97, 97);
	--border-c2_c: rgb(251, 251, 251);
	border-color: var(--border-c1_c) var(--border-c2_c) var(--border-c2_c) var(--border-c1_c);
	border-style: ridge groove groove ridge;
}
.border-style-dark-2 {
	border: 2px;
	--border-c1_bb: rgb(238, 238, 238);
	/* --border-c2_bb: rgb(170, 170, 170); */
	--border-c2_bb: rgb(97, 97, 97);
	border-color: var(--border-c1_bb) var(--border-c2_bb) var(--border-c2_bb) var(--border-c1_bb);
	border-style: ridge groove groove ridge;
}

.window-main {
	padding-top: 3px;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.window-main.window-main-nopadtop {
	padding-top: 0px;
}