.window {
	--anim-speed-to: 10.0s;
	--anim-speed-away: 10.0s;
	--anim-max: 4000px;
	--anim-min: -4000px;
}

/* Q UP LEFT */
.window:has(.mover-hand-Q:hover) {
	transition: left var(--anim-speed-to) linear, top var(--anim-speed-to) linear;
	top: var(--anim-min);
	left: var(--anim-min);
}

/* W UP */
.window:has(.mover-hand-W:hover) {
	transition: top var(--anim-speed-to) linear, left 10s linear 2147483640s;
	top: var(--anim-min);
}

/* E UP RIGHT */
.window:has(.mover-hand-E:hover) {
	transition: left var(--anim-speed-away) linear, top var(--anim-speed-to) linear;
	top: var(--anim-min);
	left: var(--anim-max);
}

/* A LEFT */
.window:has(.mover-hand-A:hover) {
	transition: left var(--anim-speed-to) linear, top 10s linear 2147483640s;
	left: var(--anim-min);
}

/* D RIGHT */
.window:has(.mover-hand-D:hover) {
	transition: left var(--anim-speed-away) linear, top 10s linear 2147483640s;
	left: var(--anim-max);
}

/* Z DOWN LEFT */
.window:has(.mover-hand-Z:hover) {
	transition: top var(--anim-speed-away) linear, left var(--anim-speed-to) linear;
	top: var(--anim-max);
	left: var(--anim-min);
}

/* X DOWN */
.window:has(.mover-hand-X:hover) {
	transition: top var(--anim-speed-away) linear, left 10s linear 2147483640s;
	top: var(--anim-max);
}

/* C DOWN RIGHT */
.window:has(.mover-hand-C:hover) {
	transition: top var(--anim-speed-away) linear, left var(--anim-speed-away) linear;
	top: var(--anim-max);
	left: var(--anim-max);
}

.mover-hand {
	margin: 0;
	padding: 0;
	position: absolute;
	width: 1000px;
	height: 1000px;
	background: teal;
}

.mover-hand-S {
	z-index: -100;
	background: red;
}

.mover-hand {
	z-index: 9999;
	background: plum;
	opacity: 0;
}

.mover-hand-W,
.mover-hand-X {
	width: calc(var(--width) * 2);
}

.mover-hand-A,
.mover-hand-D {
	height: calc(var(--width) * 2);
}

.mover-hand-Q,
.mover-hand-W,
.mover-hand-E {
	bottom: 150%;
}

.mover-hand-A,
.mover-hand-D {
	top: -50%;
}

.mover-hand-Z,
.mover-hand-X,
.mover-hand-C {
	top: 150%;
}

.mover-hand-Q,
.mover-hand-A,
.mover-hand-Z {
	right: 150%;
}

.mover-hand-W,
.mover-hand-X {
	left: -50%;
}

.mover-hand-E,
.mover-hand-D,
.mover-hand-C {
	left: 150%;
}

.mover {
	--width: 16px;

	width: var(--width);
	height: var(--width);
	position: absolute;
	margin: 1px;
	display: none;
	z-index: 10000;
}

.mover-anchors {
	position: absolute;
	z-index: -1;
	/* background-color: green; */
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-wrap: nowrap;
}
.mover-anchor {
	/* background-color: #3B79B8;
	border: 1px solid black; */
	flex-grow: 1;
}
.window-titlebar:has(.mover-anchor:active) .mover {
	display: block;
}

.windows-container {
	z-index: 1;
	position: absolute;
}

.window {
	transition: left 10s linear 2147483640s, top 10s linear 2147483640s, z-index 10s linear 2147483640s;
	transition-behavior: allow-discrete;
	position: absolute;
	left: -2000px;
	top: 0px;
}

.window:active {
	z-index: 2147483640;
	transition: left 10s linear 2147483640s, top 10s linear 2147483640s, z-index 0s linear;
}
.main:has(.window:active) .window:not(:active) {
	z-index: 1;
	transition: left 10s linear 2147483640s, top 10s linear 2147483640s, z-index 214748s linear;
}
.window:active .window-titlebar {
	background: linear-gradient(to right, #00007B, #3B79B8);
	transition: background 0s linear;
}
.main:has(.window:active) .window:not(:active) .window-titlebar {
	background: linear-gradient(to right, rgb(126, 126, 125), rgb(187, 187, 187));
	transition: background 0s linear;
}

.window-content {
	width: 100%;
	height: auto;
	flex-grow: 1;
}

.window-icon {
	width: 16px;
	height: 16px;
	margin: 1px;
}

.content-inner {
	padding: 3px;
}

.window-titlebar {
	transition: background 10s linear 2147483640s;
	transition-behavior: allow-discrete;
	border-bottom: 1px solid gray;
	background: linear-gradient(to right, rgb(126, 126, 126), rgb(187, 187, 187));
	display: flex;
	column-gap: 3px;
	align-items: center;
	min-height: 18px;
	height: 18px;
	position: relative;
	z-index: 999;
}

.window-name {
	display: flex;
	align-items: center;
	color: white;
	font-weight: 400;
	font-size: 12px;
	padding-bottom: 0px;
	margin-left: 2px;
	/* behind mover anchor shit */
	z-index: -2;
}

.window-exiter {
	margin-left: auto;
	margin-right: 3px;
	width: 16px;
	height: 14px;
	border-width: 1px 2px 2px 1px;
	--border-c1: rgb(249, 249, 249);
	--border-c2: rgb(93, 93, 93);
	border-color: var(--border-c1) var(--border-c2) var(--border-c2) var(--border-c1);
	border-style: solid ridge ridge solid;
	display: flex;
	align-items: center;
	justify-content: center;
	color: rgb(47, 47, 47);
	background-color: var(--window-background);
	margin-top: 1px;
}

.window-exiter::after {
	content: "";
	width: 9px;
	height: 9px;
	display: block;
	background-image: url("@icon:exit");
	background-size: cover;
}

.window-exiter p {
	font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-stretch: ultra-expanded;
	font-size: 10px;
}

.window-content {
	font-size: 12px;
	display: flex;
	flex-direction: column;
	background-color: var(--window-background);
	font-weight: 100;
}

.window-main {
	padding-top: 3px;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.window-main.window-main-nopadtop {
	padding-top: 0px;
}

.window-inner {
	transition: left 10s linear 2147483640s, top 10s linear 2147483640s, bottom 10s linear 2147483640s, right 10s linear 2147483640s;
	position: absolute;
	display: flex;
	flex-direction: column;
	left: 0;
	top: 0;
	right: -500px;
	bottom: -400px;
	padding: 2px;
	background-color: 1px;
	background-color: var(--window-background);
	border: 2px;
	--border-c1_w: rgb(251, 251, 251);
	--border-c2_w: rgb(97, 97, 97);
	border-color: var(--border-c1_w) var(--border-c2_w) var(--border-c2_w) var(--border-c1_w);
	border-style: groove ridge ridge groove;
	--minwi: 2000px;
	--maxwi: -2000px;
	--twi: 5s;
	min-width: 325px;
	min-height: 200px;
}

.wra {
	position: absolute;
	/* background-color: #ff000055; */
	z-index: 69420;
}
.wra-hor {
	width: 10px;
	cursor: col-resize;
}
.wra-ver {
	height: 10px;
	cursor: row-resize;
}
.wra-hor .wr {
	top: -100vh;
	bottom: -100vh;
	width: 100vw;
}
.wr-left {
	right: 120%;
}
.wr-right {
	left: 120%;
}
.wra-ver .wr {
	left: -100vw;
	right: -100vw;
	height: 100vh;
}
.wr-up {
	bottom: 120%;
}
.wr-down {
	top: 120%;
}
.wr {
	display: none;
	/* background-color: #3B79B844; */
	position: absolute;
}
.wra:active .wr {
	display: block;
}
.wra-hor-left {
	top: 0;
	bottom: 0;
	left: -5px;
}
.wra-hor-right {
	top: 0;
	bottom: 0;
	right: -5px;
}
.wra-ver-up {
	left: 0;
	right: 0;
	top: -5px;
}
.wra-ver-down {
	left: 0;
	right: 0;
	bottom: -5px;
}

.window-inner:has(.wra-hor-left .wr-left:hover) {
	transition: left var(--twi) linear, top 10s linear 2147483640s, bottom 10s linear 2147483640s, right 10s linear 2147483640s;
	left: var(--maxwi);
}
.window-inner:has(.wra-hor-left .wr-right:hover) {
	transition: left var(--twi) linear, top 10s linear 2147483640s, bottom 10s linear 2147483640s, right 10s linear 2147483640s;
	left: var(--minwi);
}
.window-inner:has(.wra-hor-right .wr-right:hover) {
	transition: left 10s linear 2147483640s, top 10s linear 2147483640s, bottom 10s linear 2147483640s, right var(--twi) linear;
	right: var(--maxwi);
}
.window-inner:has(.wra-hor-right .wr-left:hover) {
	transition: left 10s linear 2147483640s, top 10s linear 2147483640s, bottom 10s linear 2147483640s, right var(--twi) linear;
	right: var(--minwi);
}

.window-inner:has(.wra-ver-up .wr-up:hover) {
	transition: left 10s linear 2147483640s, top var(--twi) linear, bottom 10s linear 2147483640s, right 10s linear 2147483640s;
	top: var(--maxwi);
}
.window-inner:has(.wra-ver-up .wr-down:hover) {
	transition: left 10s linear 2147483640s, top var(--twi) linear, bottom 10s linear 2147483640s, right 10s linear 2147483640s;
	top: var(--minwi);
}
.window-inner:has(.wra-ver-down .wr-down:hover) {
	transition: left 10s linear 2147483640s, top 10s linear 2147483640s, bottom var(--twi) linear, right 10s linear 2147483640s;
	bottom: var(--maxwi);
}
.window-inner:has(.wra-ver-down .wr-up:hover) {
	transition: left 10s linear 2147483640s, top 10s linear 2147483640s, bottom var(--twi) linear, right 10s linear 2147483640s;
	bottom: var(--minwi);
}