.ie-page a {
	transition: color 10s linear 2147483640s;
	color: #0000EE;
}

.ie-page a:active {
	transition: 0s;
	color: #551A8B;
}

.ie-page .pad15 {
	padding: 15px;
}
.ie-page .padside15 {
	padding: 0 15px;
}
.ie-page .red {
	color: red;
}
.ie-page .warning {
	color: red;
	border: 3px double orange;
	border-radius: 1px;
}

.ie-page .body {
	/* width: fit-content; */
	transition: opacity 0s linear 0.2s;
	opacity: 1;
}
.ie-page {
	user-select: text;
}
.ie-page ol {
	padding-left: 25px;
}
.ie-page .advert-banner {
	height: 50px;
	width: 100%;
	display: flex;
	justify-content: center;
	border-bottom: 4px double black;
	background-color: #0000EE;
}
.ie-page .advert-banner img {
	height: 100%;
	margin-left: 40px;
}
.ie-page .advert-box {
	display: inline-block;
	height: 130px;
	border: 4px double black;
}
.ie-page .advert-box img {
	height: 100%;
}

.ie-page .blacked {
	color: white;
	background-color: black;
}

.window-69:has(.ie-tb-refresh:active) .body {
	max-height: 0px !important;
	overflow: clip;
	opacity: 0 !important;
	transition: 0s;
}

.ie-page .rightfloat {
	float: right;
	margin: 0 0 1em 1em;
	max-width: 200px;
}
.ie-page .leftfloat {
	float: left;
	margin: 0 1em 1em 0;
	max-width: 200px;
}





/**/

/* .marquee1 {
  width: 10px;
  height: 5000px;
  position: absolute;
  top: 0px;
  left: 100px;
  transform: skew(3600deg, 0);
  transition: 500s linear;
}

.marquee2 {
  width: 75px;
  height: 50px;
  position: relative;
  top: 2px;
  left: 30px;
  transform: skew(-3600deg, 0);
  transition: 500s linear;
}

.marquee1:nth-child(2), .marquee1:nth-child(2) .marquee2 {
  transition-delay: 5s;
}
.marquee1:nth-child(3), .marquee1:nth-child(3) .marquee2 {
  transition-delay: 10s;
}
.marquee1:nth-child(4), .marquee1:nth-child(4) .marquee2 {
  transition-delay: 15s;
}
.marquee1:nth-child(5), .marquee1:nth-child(5) .marquee2 {
  transition-delay: 20s;
}

body:has(.minute-advancer:hover) .marquee1 {
  transition: 0s;
  transform: skew(-30deg, 0);
}
body:has(.minute-advancer:hover) .marquee2 {
  transition: 0s;
  transform: skew(30deg, 0);
}

.marquee {
  width: 100%;
  border: thin solid black;
  overflow: hidden;
  height: 40px;
  position: relative;
  background-color: blue;
} */

.marquee {
	/* background-color: red; */
	overflow: hidden;
	display: flex;
	flex-wrap: nowrap;
}
.marquee-repeat {
	overflow: hidden;
}

.main:has(.minute-advancer:hover) :is(.marquee1, .marquee-img) {
	transform: translateX(0.1px);
	transition: 0s;
}

.marquee1 {
	/* background-color: #0000EE99; */
	min-width: 600px;
	white-space: nowrap;
	transition: transform 60s linear;
	transform: translateX(-2000px);
}

.marquee-img {
	height: 50px;
	width: 12000px;
	background-repeat: repeat-x;
	background-size: auto 50px;
	transition: transform 60s linear;
	transform: translateX(-6000px);
}