.ie-page a {
	transition: color 10s linear 2147483640s;
	color: #0000EE;
}

.ie-page a:active {
	transition: 0s;
	color: #551A8B;
}

.ie-page .pad15 {
	padding: 15px;
}
.ie-page .padside15 {
	padding: 0 15px;
}
.ie-page .warning {
	color: red;
	border: 3px double orange;
	border-radius: 1px;
}

.ie-page .body {
	/* width: fit-content; */
	transition: opacity 0s linear 0.2s;
	opacity: 1;
}
.ie-page {
	user-select: text;
}
.ie-page ol {
	padding-left: 25px;
}
.ie-page .advert-banner {
	height: 50px;
	width: 100%;
	display: flex;
	justify-content: center;
	border-bottom: 4px double black;
	background-color: #0000EE;
}
.ie-page .advert-banner img {
	height: 100%;
	margin-left: 40px;
}
.ie-page .advert-box {
	display: inline-block;
	height: 130px;
	border: 4px double black;
}
.ie-page .advert-box img {
	height: 100%;
}

.ie-page .blacked {
	color: white;
	background-color: black;
}

.window-69:has(.ie-tb-refresh:active) .body {
	max-height: 0px !important;
	overflow: clip;
	opacity: 0 !important;
	transition: 0s;
}