.ff-header {
	display: flex;
	background-color: darkcyan;
	border-bottom: 1px solid black;
}

.ff-logo {
	width: 60px;
	height: 60px;
}

.ff-header-inner {
	display: flex;
	flex-direction: column;
	color: white;
	padding: 3px;
	flex: 1;
}

.ff-header sup {
	opacity: 0.3;
}
.ff-header hr {
	margin: 0;
}

.ff-header-upper {
	flex: 1;
	display: flex;
	justify-content: space-between;
}
.ff-header-title {
	font-size: 130%;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.ff-header-lower {
	flex: 1;
	display: flex;
}

.ff-header-account {
	display: flex;
}

.ff-header-account > p {
	margin: auto 5px;
}

.ff-button {
	padding: 1px;
	background: linear-gradient(white, rgb(235, 235, 235));
	border: 1px inset darkslategrey;
	border-radius: 3px;
	color: black;
	height: min-content;
	user-select: none;
}

.ff-button:hover {
	background: aliceblue;
	color: darkcyan;
}

.ff-header-drop {
	margin: auto 10px;
	border: 1px solid rgb(206, 188, 97);
	padding: 1px 2px;
	position: relative;
}

.ff-header-drop-content {
	display: none;
	position: absolute;
	top: 110%;
	left: 0;
	border: 1px solid black;
	display: none;
	flex-direction: column;
	padding: 10px;
	column-gap: 5px;
	background-color: lightblue;
	width: max-content;
	z-index: 5;
}
.ff-header-drop > p > a, .ff-header-title > a {
	color: white;
	text-decoration: none;
	transition: 0s;
}

.ff-header-drop:hover > .ff-header-drop-content, .ff-header-drop-content:hover {
	display: flex;
}

.ff-body {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.ff-main {
	background-color: rgb(230, 212, 210);
	flex: 1;
	padding: 10px;
	color: rgb(14, 92, 92);
}

.ff-main-index {
	line-height: 200%;
}

.ff-index-thingy {
	border: 3px inset gold;
	padding: 3px;
	margin: 10px 0;
}

.ff-item {
	border: 2px ridge gold;
	padding: 5px;
}


.ff-blurb {
	border: 2px ridge gold;
	background-color: darkcyan;
	color: white;
	padding: 5px;
}
.ff-blurb-middle {
	margin: 5px 0;
}
.ff-blurb-tags {
	display: flex;
	margin-bottom: 5px;
	/* flex-wrap: wrap; */
}
.ff-blurb-tags > p:not(:last-child)::after {
	content: ",\00a0";
}
.ff-blurb-tags > p {
	text-decoration: dotted underline;
}
.ff-blurb-upper {
	position: relative;
}
.ff-blurb-date {
	position: absolute;
	top: 0;
	right: 0;
}
.ff-blurb-lower {
	display: flex;
	margin-left: auto;
}
.ff-blurb-lower > p {
	margin: 0 5px;
}
.ff-blurb-sum {
	font-style: italic;
	border: 1px solid gold;
	border-style: solid none;
	padding: 5px 0;
}
.ff-blurb a {
	color: gold;
}
.ff-blurb a:active {
	color: goldenrod !important;
}
/* .ff-uline {
	text-decoration: underline;
} */

.ff-fic-start, .ff-fic-end {
	margin: 5px;
	padding: 10px;
	background-color: cadetblue;
	border: 3px double white;
	color: white;
}
.ff-fic-buts {
	display: flex;
}
.ff-fic-comments {
	margin: 4px;
	margin-top: 10px;
	background-color: cadetblue;
	padding: 7px;
	color: white;
}
.ff-fic-body {
	margin: 3px;
	line-height: 1.25em;
}

.ff-comment {
	border: 2px ridge gold;
	margin: 4px 0px;
}
.ff-comment-top {
	display: flex;
	border-bottom: 1px solid gold;
	margin-bottom: 2px;
	padding-bottom: 2px;
}
.ff-comment-logo {
	width: 32px;
	height: 32px;
}
.ff-comment-name {
	margin-left: 20px;
	text-decoration: underline;
}
.ff-comment-text {
	padding: 5px;
}

.ff-profile-info {
	margin-bottom: 5px;
	padding: 10px;
	background-color: cadetblue;
	border: 3px double white;
	color: white;
	display: flex;
}
.ff-profile-logo {
	width: 50px;
	height: 50px;
	background-color: white;
}
.ff-profile-name {
	font-size: x-large;
	margin-left: 10px;
}