.fe-address-bar {
	padding: 0 2px;
	display: flex;
	column-gap: 2px;
	align-items: center;
	border-top: none !important;
}

/* .fe-address-bar p:nth-child(1) {} */

.fe-addrb-anchor {
	background-color: white;
	flex-grow: 1;
	display: flex;
	padding: 1px;
	position: relative;
	height: 22px;
}
.fe-addrb-path {
	flex-grow: 1;
	display: flex;
	transition: z-index 214748s linear;
	transition-behavior: allow-discrete;
	z-index: -100;
	position: absolute;
	max-width: 100%;
	background-color: white;
	/* justify-content: flex-end; */

	white-space: nowrap;
	overflow: scroll;
	scrollbar-width: none;
	user-select: text;
}

.fe-addrb-path::before {
	content: "";
	display: block;
	width: 16px;
	height: 16px;
	/* background-size: cover; */
	margin-right: 5px;
}

.fe-main {
	display: flex;
	flex-grow: 1;
	column-gap: 2px;
}

.fe-view-anchor {
	position: relative;
	flex-grow: 1;
	/* display: flex; */
}

.fe-view {
	/* TODO: remove if favor of transforms? */
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: white;
	left: -20000px;
	top: 0px;
	transition: left 10s linear 2147483640s;
}

.fe-view > h1 {
	margin-left: 20px;
	margin-top: 5px;
}

.fe-view-content {
	position: relative;
}

.fe-view p {
	color: black;
	max-height: 24px;
	overflow: hidden;
	overflow-wrap: anywhere;
}

.fe-sideview {
	width: 100px;
	display: flex;
	flex-direction: column;
	position: relative;
	/* height: 100%; */
}

.fe-sideview-header {
	border: 2px;
	--border-c1_d: rgb(238, 238, 238);
	--border-c2_d: rgb(170, 170, 170);
	border-color: var(--border-c1_d) var(--border-c1_d) var(--border-c1_d) var(--border-c1_d);
	border-style: none none groove none;
	padding: 2px;
	padding-left: 6px;
	z-index: 1;
	background-color: var(--window-background);
}

.fe-sideview-view {
	background-color: white;
	flex-grow: 1;
	z-index: 0;
	/* padding-left: 20px; */
}

.fe-sideview-view > .fe-svv-child {
	left: 10px;
}

.fe-svv-child {
	/* border-left: 1px dotted black; */
	padding-left: 0px;
	position: relative;
	left: 16px;
	z-index: 0;
	overflow-y: clip;
	overflow-x: visible;
}

.fe-svv-child::before {
	content: "";
	position: absolute;
	border-left: 1px dotted rgb(170, 170, 170);
	height: 2001px;
	transform: translate(-1px, -4px);
	z-index: -10;
}

.fe-svv-item:last-child::before {
	content: "";
	position: absolute;
	width: 1px;
	background-color: white;
	height: 2001px;
	transform: translate(-1px, 6px);
}

.fe-svv-child .fe-svv-child {
	height: 0px;
	transition: height 10s linear 2147483640s;
	transition-behavior: allow-discrete;
	overflow-y: clip;
}

.fe-svvi-name {
	display: flex;
	margin-left: 9px;
	white-space: nowrap;
	position: relative;
	overflow: clip;
}

.fe-svvi-name::before {
	content: "";
	background: url("https://win98icons.alexmeub.com/icons/png/directory_closed-4.png");
	background-size: cover;
	width: 14px;
	height: 14px;
	/* z-index: 1; */
	margin-right: 5px;
	display: block;
	/* opacity: 0.2; */
}

.fe-svvi-group {
	display: flex;
	align-items: center;
	/* z-index: 0; */
}

.fe-svv-expandable .fe-svvi-expander {
	transition: z-index 10s linear 2147483640s;
	transition-behavior: allow-discrete;
	z-index: 5;
}
.fe-svv-expandable .fe-svvi-expander.fe-svvi-expander-close {
	z-index: 3;
}
.fe-svv-expandable .fe-svvi-expander::before {
	content: "+";
	width: 9px;
	height: 9px;
	border: 1px solid rgb(170, 170, 170);
	background-color: white;
	/* background-color: white; */
	position: absolute;
	transform: translate(-4px, -5px);
	/* z-index: 0; */
	/* left: -5px; */
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 2px;
}
.fe-svv-expandable .fe-svvi-expander.fe-svvi-expander-close::before {
	content: "-";
	font-size: 17px;
	padding-bottom: 3px;
}

.fe-svv-expandable .fe-svvi-expander:hover:active {
	transition: 0s;
	z-index: 2;
}
.fe-svv-expandable.fe-svvi-group:has(.fe-svvi-expander:hover:active) .fe-svvi-expander:not(:active) {
	transition: 0s;
	z-index: 4;
}

.fe-svv-expandable:has(.fe-svvi-expander-open:active) + .fe-svv-child {
	height: 100%;
	transition: 0s;
}
.fe-svv-expandable:has(.fe-svvi-expander-close:active) + .fe-svv-child {
	height: 0.001px;
	transition: 0s;
}

.fe-svvi-expander {
	position: absolute;
	display: block;
	min-width: 9px;
	height: 10px;
	border-top: 1px dotted rgb(170, 170, 170);
	transform: translate(-1px, 4px);
	/* transform: translate(-1px, -4px); */
	/* z-index: -10000; */
	/* left: -5px; */
}

.fe-sideview-view {
	overflow: scroll;
}

.fe-sideview-view::-webkit-scrollbar {
	height: 10px;
}

.fe-sideview-view::-webkit-scrollbar:vertical {
	width: 10px;
}

.fe-sideview-view::-webkit-scrollbar-track {
	background: #C0C0C0;
}

/* Handle */
.fe-sideview-view::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
.fe-sideview-view::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.fe-sideview::after {
	content: "";
	width: 10px;
	height: 10px;
	background-color: #C0C0C0;
	display: block;
	position: absolute;
	bottom: 0;
	right: 0;
}

.fe-svvi-name:active .desktop-item-double-clicker:not(:active) {
	top: 0;
	transition: top 0s linear;
}

.fe-svvi-name:has(.desktop-item-double-clicker:active) + .desktop-item-animator {
	transition: top 0s linear;
	top: 0%;
}