.ie-address-bar {
	padding: 0 2px;
	display: flex;
	column-gap: 2px;
	align-items: center;
	border-top: none !important;
}

/* .ie-address-bar p:nth-child(1) {} */

.ie-address-bar p:nth-child(2) {
	background-color: white;
	flex-grow: 1;
	display: flex;
	padding: 1px;
}

.ie-address-bar p:nth-child(2)::before {
	content: "";
	display: block;
	width: 16px;
	height: 16px;
	background: url("https://win98icons.alexmeub.com/icons/png/html-5.png");
	background-size: cover;
	margin-right: 5px;
}

.ie-main {
	display: flex;
	flex-grow: 1;
}

.ie-view {
	display: flex;
	flex-grow: 1;
	background-color: white;
}

.history-toolbar-container {
	position: relative;
	z-index: 0;
}
.history-toolbar-container .toolbar-item {
	background-color: var(--window-background);
}
.history-toolbar-container .toolbar-item:nth-child(1) {
	position: relative;
}
.history-toolbar-container .toolbar-item:nth-child(2) {
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
}
.history-back, .history-forward {
	z-index: -1;
	transition: z-index 10s linear 2147483640s;
	transition-behavior: allow-discrete;
}
.history:has(.history-item-check-back:hover) .history-back {
	transition: 0s;
	z-index: 1;
}
.history:has(.history-item-check-forward:hover) .history-forward {
	transition: 0s;
	z-index: 1;
}
.history:has(.history-none-back:hover) .history-back {
	transition: 0s;
	z-index: -1;
}
.history:has(.history-none-forward:hover) .history-forward {
	transition: 0s;
	z-index: -1;
}