.window-69 .window-content, .window-69 .window-main {
	min-height: 0;
}

.ie-address-bar {
	padding: 0 2px;
	display: flex;
	column-gap: 2px;
	align-items: center;
	border-top: none !important;
}

.ie-title-anchor {
	padding: 1px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	/* overflow: hidden; */
	z-index: 0;
	/* width: max-content; */
}
.ie-title {
	padding: 2px;
	background: linear-gradient(to right, #00007B, #3B79B8);
	padding-left: 23px;
	transition: z-index 214748s linear;
	transition-behavior: allow-discrete;
	z-index: -100;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding-right: 25px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.ie-addrb-anchor {
	background-color: white;
	flex-grow: 1;
	display: flex;
	padding: 1px;
	position: relative;
	height: 22px;
	z-index: 0;
	overflow: hidden;
}

.ie-addrb-path {
	flex-grow: 1;
	display: flex;
	transition: z-index 214748s linear;
	transition-behavior: allow-discrete;
	z-index: -100;
	position: absolute;
	width: 100%;
	background-color: white;

	white-space: nowrap;
	overflow: scroll;
	scrollbar-width: none;
	user-select: text;
}

.ie-addrb-path::before {
	content: "";
	display: block;
	width: 16px;
	height: 16px;
	margin-right: 5px;
}

/* .ie-address-bar p:nth-child(2) {
	background-color: white;
	flex-grow: 1;
	display: flex;
	padding: 1px;
}

.ie-address-bar p:nth-child(2)::before {
	content: "";
	display: block;
	width: 16px;
	height: 16px;
	background: url("https://win98icons.alexmeub.com/icons/png/html-5.png");
	background-size: cover;
	margin-right: 5px;
} */

.ie-main {
	display: flex;
	flex-grow: 1;
	min-height: 0;
}

.ie-sideview-anchor {
	/* transition: z-index 10s linear 2147483640s;
	transition-behavior: allow-discrete; */
	transition: max-width 10s linear 2147483640s;
	overflow-x: clip;
	max-width: 0px;
	/* padding-right: 3px; */
	display: flex;
}
.ie-sideview {
	transition: max-width 10s linear 2147483640s;
	max-width: 0px;
	height: 100%;
	display: flex;
	overflow: hidden;
	width: 150px;
}

.ie-sideview-anchor:has(.ie-sideview-exiter:active) {
	transition: 0s;
	max-width: 0.001px;
}
.window-69:has(.ie-sideview-exiter:active) .toolbar-toggle-group-ie-1 .toolbar-item-enabled {
	transition: 0s;
	z-index: -2;
}
.window-69:has(.toolbar-toggle-group-ie-1 .toolbar-item-enabled:active) .ie-sideview-anchor {
	transition: 0s;
	max-width: 0.001px;
}
.window-69:has(.toolbar-toggle-group-ie-1 .toolbar-item:not(.toolbar-item-enabled):active) .ie-sideview-anchor {
	transition: 0s;
	max-width: 2000px;
}
.window-69:has(.toolbar-toggle-group-ie-1 .toolbar-item:not(.toolbar-item-enabled):active) .ie-sideview {
	transition: 0s;
	max-width: 0.001px;
}
.window-69:has(.ie-tb-favorites:active) .ie-sideview-fav {
	transition: 0s;
	max-width: 200px !important;
}
.window-69:has(.ie-tb-search:active) .ie-sideview-search {
	transition: 0s;
	max-width: 200px !important;
}
.window-69:has(.ie-tb-history:active) .ie-sideview-hist {
	transition: 0s;
	max-width: 200px !important;
}

.ie-sideview-fav {
	/* width: 200px; */
	/* background-color: aqua; */
}
.ie-sideview-inner {
	flex-grow: 1;
	margin-right: 3px;
	display: flex;
	flex-direction: column;
	min-width: 0;
}

.ie-sideview-header {
	height: 22px;
	border-bottom: 2px groove rgb(238, 238, 238);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 7px;
	padding-right: 1px;
}

.ie-sideview-header img {
	width: 9px;
	height: 9px;
}

.ie-sideview-exiter {
	/* border: 1px solid transparent; */
	width: 20px;
	height: 17px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 4px;
}
.ie-sideview-exiter:hover {
	border: 1px outset rgb(238, 238, 238);
}

.ie-sideview-main {
	background-color: white;
	padding: 1px 2px;
	height: 100%;
	overflow: auto;
}

.fav-item {
	/* padding-left: 6px; */
	/* border: 1px solid transparent; */

	/* flex-direction: column; */
}
.fav-item > p, .fav-folder-active {
	display: flex;
	align-items: center;
	height: 20px;
	white-space: nowrap;
	padding-left: 6px;
}
.fav-link:hover {
	color: #0000A1;
	text-decoration: underline;
}
.fav-folder:hover {
	color: #0000A1;
}
.fav-link::before, .fav-folder::before, .fav-folder-active::before {
	content: "";
	background-size: cover;
	min-width: 16px;
	height: 16px;
	margin-right: 4px;
}
.fav-link::before {
	background-image: url("@icon:html-small");
}
.fav-folder::before {
	background-image: url("@icon:directory-closed-small");
}
.fav-folder-active::before {
	background-image: url("@icon:directory-open-small");
}
.fav-folder-content {
	padding-left: 16px;
	transition: max-height 10s linear 2147483640s;
	max-height: 0.001px;
	overflow-y: clip;
}
.fav-folder:active ~ .fav-folder-active-con .fav-folder-active,
.fav-folder:active ~ .fav-folder-content {
	max-height: 2000px;
	transition: 0s;
}
.fav-cont:has(.fav-folder:active) .fav-item:not(:has(.fav-folder:active)) :is(.fav-folder-content, .fav-folder-active) {
	max-height: 0px;
	transition: 0s;
}
.fav-folder-active:active, .fav-folder-active-con:active + * {
	max-height: 0px;
	transition: 0s;
}
.fav-folder-active-con {
	max-height: 0px;
	overflow: visible;
}
.fav-folder-active {
	/* position: absolute; */
	transition: max-height 10s linear 2147483640s;
	max-height: 0.001px;
	background-color: #0000A1;
	width: fit-content;
	color: white;
	overflow-y: clip;
	padding-right: 6px;
	/* position: absolute; */
	/* height: 0px; */
	transform: translate(0, -20px);
}

.window-69 ::-webkit-scrollbar {
	height: 10px;
}

.window-69 ::-webkit-scrollbar:vertical {
	width: 10px;
}

.window-69 ::-webkit-scrollbar-track {
	background: #C0C0C0;
}

.window-69 ::-webkit-scrollbar-thumb {
	background: #888;
}

.window-69 ::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.ie-failed-to-load {
	margin: 10px;
}

.ie-view {
	display: flex;
	flex-grow: 1;
	background-color: white;
	position: relative;
	z-index: 1;
}

.ie-site {
	transition: z-index 214748s linear;
	transition-behavior: allow-discrete;
	z-index: -1;
	position: absolute;
	width: 100%;
	height: 100%;
}
.ie-page {
	transition: z-index 214748s linear;
	transition-behavior: allow-discrete;
	z-index: -1;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: white;
	overflow: auto;
}

.ie-site *::-webkit-scrollbar {
	width: 10px;
}

.ie-site *::-webkit-scrollbar-track {
	background: #C0C0C0;
}

.ie-site *::-webkit-scrollbar-thumb {
	background: #888;
}

.ie-site *::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.history-toolbar-container {
	position: relative;
	z-index: 0;
}
.history-toolbar-container .toolbar-item:not(.toolbar-single-click) {
	background-color: var(--window-background);
}
.history-toolbar-container .toolbar-item:nth-child(1) {
	position: relative;
}
/* TODO: what is this fucking bullshit? */
.history-toolbar-container .toolbar-item:nth-child(3) {
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
}
.history-back, .history-forward {
	/* this is -2 because transitions because FUCK YOU FUCK YOU FUCK YOU FUCK YOU FUCK YOU FUCK YOU FUCK YOU FUCK YOU FUCK YOU FUCK YOU FUCK YOU */
	z-index: -2;
	transition: z-index 10s linear 2147483640s;
	transition-behavior: allow-discrete;
}
.main:has(.history-item-check-back:hover) .history-back {
	transition: 0s;
	z-index: 1;
}
.main:has(.history-item-check-forward:hover) .history-forward {
	transition: 0s;
	z-index: 1;
}
.main:has(.history-none-back:hover) .history-back {
	transition: 0s;
	z-index: -1;
}
.main:has(.history-none-forward:hover) .history-forward {
	transition: 0s;
	z-index: -1;
}

