.np-main {
	display: flex;
	flex-grow: 1;
	height: 0px; /* ??????? */
	position: relative;
}

.np-view {
	display: flex;
	flex-grow: 1;
	min-width: 0;
	min-height: 0;
	background-color: white;
	padding: 2px;
	white-space: pre;
	overflow: scroll;
	user-select: text;

	transition: font-family 10s linear 2147483640s, font-weight 10s linear 2147483640s, font-style 10s linear 2147483640s, font-size 10s linear 2147483640s;
	transition-behavior: allow-discrete;
	/* work-around because transitions are weird and fucked up. this needs to be unique! */
	font-style: oblique 1deg;
	font-weight: 101;
	font-size: 12.01px;
}

.np-view::-webkit-scrollbar {
	height: 10px;
}

.np-view::-webkit-scrollbar:vertical {
	width: 10px;
}

.np-view::-webkit-scrollbar-track {
	background: #C0C0C0;
}

.np-view::-webkit-scrollbar-thumb {
	background: #888;
}

.np-view::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.np-main::after {
	content: "";
	width: 10px;
	height: 10px;
	background-color: #C0C0C0;
	display: block;
	position: absolute;
	bottom: 2px;
	right: 2px;
}