.npf-main {
	display: flex;
	flex-grow: 1;
	/* height: 0px; */
	/* ??????? */
	/* column-gap: 2px; */
	position: relative;
	padding: 8px;
	flex-direction: column;
}

.window:has(.npf-main) .window-exiter {
	display: none;
}

.npf-upper {
	width: 100%;
	display: flex;
}

.npf-upper-sub, .npf-confirm {
	display: flex;
	flex-direction: column;
}

.npf-upper-sub .vertical-select-header {
	background-color: white;
	padding: 1px;
}
.npf-upper-sub .vertical-select-group {
	height: 104px;
	word-break: break-word;
	overflow-y: scroll;
	background-color: white;
	padding: 1px;
}

.npf-font .vertical-select-item {
	padding-left: 2px;
	display: flex;
}
.npf-font .vertical-select-item::before {
	margin-right: 6px;
	content: "";
	display: block;
	background: url("@icon:tt");
	background-size: cover;
	width: 12px;
	height: 12px;
	/* position: absolute; */
	/* transform: translate(-16px, 0px); */
}

.npf-font {
	flex-grow: 3;
}
.npf-style {
	flex-grow: 2;
}
.npf-size {
	flex-grow: 1;
}
.npf-font, .npf-style, .npf-size {
	margin-right: 6px;
}

.npf-pad-p {
	opacity: 0;
}

.npf-button {
	width: 68px;
	height: 23px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 3px;
}

.npf-sample {
	width: 141px;
	height: 64px;
	padding: 12px 11px;
	position: relative;
	margin-left: 211.77px;
	margin-top: 20px;
}

.npf-sample::before {
	content: "Sample";
	background: var(--window-background);
	padding: 2px;
	position: absolute;
	left: 7px;
	top: -10px;
}

.npf-sample-inner {
	width: 116px;
	height: 37px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.npf-sample-inner p {
	transition: font-family 10s linear 2147483640s, font-weight 10s linear 2147483640s, font-style 10s linear 2147483640s, font-size 10s linear 2147483640s;
	transition-behavior: allow-discrete;
	/* work-around because transitions are weird and fucked up. this needs to be unique! */
	font-style: oblique 1deg;
	font-weight: 101;
	font-size: 12.01px;
}

/* .asdjsaoa {
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */